.topo{
    height: 90px;
    width: 100%;
    position: fixed;
    top:0;
    background-color: #404EED;
    display: flex;
    align-items: center;

}
.topo a {
     margin-left: 80px;
}

.conteudo{
    width: 100%;
    display: flex;
    margin-top: 90px;
}

.pedido{
    margin-top: 40px;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escolhas{
    height:700px;
    width: 400px;
}

.modelo p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;    
}
.gola {
    margin-top: 20px;
}
.gola p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;    
}

.tecido {
    margin-top: 20px;
}
.tecido p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;    
}

.imagem {
    margin-top: 30px;
    
}
.imagem p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;    
}
.imagem input{
    Width:394px;
    Height: 40px;
    margin-top: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;;
}


.escolha{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

.cada{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cada div {
    width:100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.cada p {
    margin-top:3px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.cada img{
    width: 75px;
    height: 75px;
}

.borda{
    border: 0.5px solid #C4C4C4;
}

.arte{
    height:750px;
    width: 50%;
    background:#404EED;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arte img {
    width: 80%;
    height:100%;
}

.botaoFechado {
    height: 40px;
    width: 400px;
    border-radius:10px;;
    margin-top: 25px;
    background: #C4C4C4;
    display:flex;
    align-items:center;
    justify-content: center;
}
.botaoFechado p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.liberado {
    height: 40px;
    width: 400px;
    border-radius:10px;;
    margin-top: 25px;
    background: #404EED;
    display:flex;
    align-items:center;
    justify-content: center;
}
.liberado p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.pedidos{
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 20px;
}
.pedidos p {
    margin-top: 30px;
    margin-left:80px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
}

.pedidos div{
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.ultimos{
    margin-left:40px;
    height: 400px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}
.recente{
    margin-left: 15px;
    width: 200px;
    height: 245px;
    background-color:#ffff;
    border-radius: 10px;
    display: flex;
    justify-content:center;
}
.recente:hover{
    background-color:gray
}
.recente img {
    margin-left: 10px;
    margin-top: 15px;
    width: 160px;
    height: 160px;
}
.recente h1 {
    margin: 25px;
    text-align: center;
    Font: Roboto;
    font-size: 20px;
    Line-height: 23.44px;
}


.display{ 
    display: none;
}
.selecionado{
    border: 5px solid #404EED;
    border-radius: 50%;
}
.selecionado1{
    border: 5px solid #404EED;
    border-radius: 50%;
}
.selecionado2{
    border: 5px solid #404EED;
    border-radius: 50%;
}

.imagem div {
    display:flex;
    align-items: center;
    justify-content: center;
}

.imagem ion-icon{
    font-size: 45px;
    margin-left: 5px;
}

@media (max-width:620px){
    .arte{
        display: none;
    }
    .pedido {
        width: 100%;
    }
}